#bg {
  left : 0px;
  right: 0px;
  top: 0px;
  bottom: -20px;
    opacity : .15;

  z-index: -50;
  position: absolute;
  background-image: url("../peyton.jpg");
  background-size:  100% auto;
  background-repeat: repeat;
}

/*Player Select Styles*/

#player_select{
	padding: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
/*#player_select .btn{
	padding: 3px 12px 3px 12px;
}*/
/*#go_one{
	content:"\f046";
}
*/.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}





/* GRAPH STYLES*/

.overlay {
  fill: none;
  pointer-events: all;
}
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area {
	fill: lightsteelblue;
}
.area2 {
	fill: red;
}

.line {
	fill: none;
	stroke: #4682B4;
	stroke-width: 1.5px;
}
.line2 {
	fill: none;
	stroke: red;
	stroke-width: 1.5px;
}
.dot {
	fill: white;
	stroke: #4682B4;
	stroke-width: 1.5px;
}
.dot.two {
	fill: white;
	stroke: red;
	stroke-width: 1.5px;
}

#slider {
  width:200px;
  margin-left: 20px;
}

#sliderTicks{
  width:250px;
  margin-left:-25px;
  margin-top: 8px;
  height:20px;
  font-size: 10pt;
}

#sliderTicks ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sliderTicks li{
  display: inline;
}

#sidebar{
	border: 1px solid #ddd;
	height: 400px;
}
#sidebar h4{
	border-bottom: 1px solid #ddd;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.legendary{
	text-align: center;
	padding: 5px 0 5px 0;
}
.legendary p{
	display: inline-block;
}
.legendary p:before{
	background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    max-width: 30px;
    right: 0.5em;
    margin-left: -50%;
    padding: 2px 0px;
}
#key1 p:before{background-color: #4682B4;}

#key2 p:before{background-color: red;}




.player_1{
background-color: rgba(70,130,180,.5);
}
.player_2{
background-color: rgba(255,0,0,.5);
}

.data-display .table{
	table-layout: fixed;
}
